
    body {
        background-color: rgba(57, 8, 170, 0.658);

        h1 {
            color: white;
        }

        p {
            font-size: xx-large;
        }

        /* Most important thing in the web */
        div {
            align-items: center;
            justify-content: center;
            text-align: center;
            flex: 0;

        }

        table {

            margin: auto;


        }

        form {
            border: 1px solid rgb(255, 5, 5);
            width: 30%;
            margin: 20px auto;
            background-color: rgb(255, 255, 255);
            border-radius: 20px;
        }

        form p {
            font-size: 34px
        }

        form button {
            border-radius: "20px";
            color: white;
            background-color: black;
            margin: 20px 20px
        }

        form input {
            margin-top: 20px;
            border-radius: '20px';
          
        }
    }